/** Colors */

$white: #fff;
$black: #000;
$titles: #333;
$gray: #9b9b9b;

/** Config  */

$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 64px;


$dy-1: #1E242C;
$dy-2: #252B32;
$dy-3: #403F4C;
$dy-4: #616774;
$dy-blue: #146DD9;
